body {
  margin: 0px;
  font-family: "Oswald", sans-serif;
  padding: 0px 10px;
  height: 100vh;
}

header {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > a {
  margin-right: 10px;
}
header > textBox {
  width: 100%;
  position: relative;
  top: 10px;
  font-size: 23px;
}

textBox > span {
  font-size: 15px;
}

#leftLinks {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 14px;
  margin-right: 10px;
}
#leftLinks > a {
  padding: 10px;
  min-width: max-content;
}

addToDo {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  height: 80px;
  padding: 10px 0;
  border-radius: 10px;
}

addToDo > a {
  margin: -15px 10px 10px 10px;
}

addToDo > editTask {
  width: 100%;
  padding-right: 20px;
}
editTask > form {
  margin: 10px 0px;
}

editTask > form > input {
  width: 100%;
  padding: 10px 10px;
  padding-right: 0px;
  border-style: none;
  border-bottom: 1px solid royalblue;
}
editTask > form > input::placeholder {
  color: royalblue;
}

editTask > form > input:focus {
  outline: none;
}

editTask > links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

editTask > links > div {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
editTask > links > div:hover {
  background-color: rgba(214, 183, 183, 0.616);
}

#list {
  margin: 10px;
}

#list > li {
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0px;
}

#list > li > i {
  margin-right: 10px;
}
